.table tr td img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

td i{
    cursor: pointer;
}

td,th{
    color: black;
}

.container{
    margin: 0 auto; 
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    
}

.col-lg-9 {
    width: 72%;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

.table>thead {
    vertical-align: bottom;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
th{
    text-align: left;
    padding: 8px;
}
td{
    padding: 8px;
}
thead{
    border-bottom: 1px solid black;
}

button{
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:nth-child(1){
    margin-top: 20px;
}