.icon {
    color: rgb(224, 237, 237);
    z-index: 999;
}

.icon:hover {
    cursor: pointer;
    color: rgb(255, 219, 219);
    transform: scale(1.1);
}

.icon:active {
    transform: scale(1);
    color: rgb(169, 255, 179);
}
