/* google fonts */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  css variables */
.Toastify__close-button {
    width: auto;
}
.menu-item:hover p {
  color: #2f8de4;
}

.menu-item:hover svg path {
  fill: #2f8de4;
}

.icon-active svg path {
  fill: #2f8de4;
}

.smooth-transform {
  transition: all 0.2s ease;
}

/* 276 is main nav's width */
.horizontal-nav-width {
  width: calc(100vw - 276px);
}

.h-min-content {
  height: min-content;
}

.block-border {
  @apply border-2 border-[#EFEAFA] rounded-lg px-4 md:px-6 pt-6 pb-8;
}
